*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #228b22d4;
   height: 100vh;
width: 100vw;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top p{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    box-shadow: 0 0 0px 2.5px #fff;
    padding: 5px 40px;
}

@media screen and (max-width:450px) {
    body{
        display: none;
    }
}